<div class="item-search-container d-flex">
    <div class="item-search d-flex w-100">
        <app-item-search (handleItem)="setSearchedItem($event)" style="flex: 1"></app-item-search>
    </div>
    <div class="fav-list-container d-flex align-items-center">
        <span class="d-flex align-items-center justify-content-center">
            Ver favoritos
            <i class="material-icons">favorite</i>
        </span>
</div>
</div>

<div class="item-sort-container d-flex align-items-center">
    <app-item-sort (handleSortItem)="setSortedItems($event)" [isNewSearch]="isNewSearch"></app-item-sort>
</div>

<div class="item-card-container">
    <app-item-card [itemCardData]="itemCardDataFiltered | slice: 0 : itemsToShow"></app-item-card>
    <div class="d-flex justify-content-center align-items-center"
         *ngIf="itemsToShow < itemCardDataFiltered.length && !isLoading"
         style="height: 50px;">
        <button class="show-more-items"
                role="button"
                (click)="increaseShow()"> Show more items</button>
    </div>
    <div class="spinner d-flex justify-content-center align-items-center" *ngIf="isLoading">
        <mat-progress-spinner
                [diameter]="75"
                [color]="'primary'"
                [mode]="'indeterminate'">
        </mat-progress-spinner>
    </div>
</div>
