@import "../../../styles/variables";
@import "src/styles/buttons";

.item-search-container {
  padding: 15px 15px;
  .fav-list-container {
    width: 300px;
    justify-content: flex-end;
  }
}

.item-card-container {
  background-color: $card-container-background;
  padding-bottom: 100px;

  .show-more-items {
    @extend .primary-button;
    width: 134px;
    height: 41px;
  }
}
