<div class="item-search d-flex">
    <form class="d-flex" #itemSearchForm="ngForm">
        <input [(ngModel)]="item"
               placeholder="Search items"
               autocomplete="off"
               class="border-0 w-100"
               maxlength="500"
               name="inputItem"/>
        <div class="search-icon d-flex">
            <button class="border-0"
                    [disabled]="!item"
                    (click)="item && searchItem(itemSearchForm.value)">
                <i class="material-icons">search</i>
            </button>
        </div>
    </form>

</div>

