<div class="search-favorites-container">
    <app-item-search
            [itemCardDataMode]="itemCardDataMode"
            (handleItem)="searchFavoritesByTitle($event)"></app-item-search>
</div>

<div class="favorite-items-container">
    <app-item-card
            [itemCardDataList]="favoriteItemCardDataFiltered"
            [itemCardData]="favoriteItemCardDataFiltered | filterByFavorites | filterSearch : item : FILTER_BY_TITLE"
            [itemCardDataMode]="itemCardDataMode">
    </app-item-card>
</div>
