$card-container-background: #ECEFF1;

// Font Families
$source-sans-font: 'Verdana', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$default-font: $source-sans-font;

// Font Weights
$fw-ultra-light: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;
