<div class="item-sort-panel"
     [excludeBeforeClick]="true"
     [clickOutsideEnabled]="hasToShowSortingPanel"
     (clickOutside)="toggleSortingPanel(false)">
    <div class="item-sort">
  <span class="d-flex align-items-center" (click)="toggleSortingPanel()">
    <i class="material-icons">sort</i>
    Order by
</span>
    </div>

    <div class="item-sort-container-content" [hidden]="!hasToShowSortingPanel">
        <div *ngFor="let sortingField of sortingFields" class="item-sort-content d-flex">
            <div class="name d-flex align-items-center">{{sortingField.name}}</div>
            <div class="buttons d-flex">
                <span class="ascendant-button d-flex justify-content-center align-items-center">{{sortingField.sortingButtons.ascendantButton}}</span>
                <span class="descendant-button d-flex justify-content-center align-items-center">{{sortingField.sortingButtons.descendantButton}}</span>
            </div>
        </div>
    </div>
</div>
