<div id="itemCard" class="item-card-container">
    <div class="item-card d-flex"
         *ngFor="let item of itemCardData; trackBy: utilsService.trackByFunction.bind(this, 'email')">
        <div class="item-image">
            <img [src]="item.image"
                 [class.responsive-image]="itemCardDataMode === 'basicMode'"
                 [title]="item.title"
                 [alt]="item.title"/>
        </div>

        <div class="item-body" [class.p-0]="itemCardDataMode === 'basicMode'">
            <ng-container [ngSwitch]="itemCardDataMode">
                <ng-container *ngSwitchCase="'basicMode'">
                    <ng-container *ngTemplateOutlet="basicCardBody"></ng-container>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <ng-container *ngTemplateOutlet="defaultCardBody"></ng-container>
                </ng-container>
            </ng-container>

        </div>
        <div class="item-card-footer" *ngIf="itemCardDataMode !== 'basicMode'">
            <p class="email">{{item.email}}</p>
        </div>

        <ng-template #defaultCardBody>
            <div class="item-header-content d-flex align-items-center justify-content-between">
                <p class="item-price"><strong>{{item.price}} €</strong></p>
                <ng-container *ngTemplateOutlet="favoriteItem"></ng-container>
            </div>
            <p class="item-title">{{item.title}}</p>
            <p class="item-description">{{item.description}}</p>
        </ng-template>

        <ng-template #basicCardBody>
            <div class="item-header-content basic-card d-flex align-items-center justify-content-between">
                <p class="item-title m-0"><strong>{{item.title}}</strong></p>
                <ng-container *ngTemplateOutlet="favoriteItem"></ng-container>
            </div>
            <p class="item-description">{{item.description}}</p>
        </ng-template>

        <ng-template #favoriteItem>
            <i class="material-icons favorite" [class.active]="item.isFavoriteItem"
               (click)="setFavoriteItem(item)">
                {{item.isFavoriteItem ? 'favorite' : 'favorite_border' }}
            </i>
        </ng-template>
    </div>
</div>

