<div id="itemCard" class="item-card-container">
    <div class="item-card" *ngFor="let item of itemCardData" style="display: flex;
         flex-direction: column;">
        <div class="item-image">
            <img [src]="item.image"
                 [title]="item.title"
                 [alt]="item.title"/>
        </div>
        <div class="item-body" style="flex: 1 1 auto;">
            <div class="item-header-content d-flex align-items-center justify-content-between">
                <p class="item-price"><strong>{{item.price}} €</strong></p>
                <i class="material-icons favorite" [class.active]="item.isFavoriteItem"
                   (click)="setFavoriteItem(item)">{{item.isFavoriteItem ? 'favorite' : 'favorite_border' }}</i>
            </div>
            <p>{{item.title}}</p>
            <p>{{item.description}}</p>
        </div>
        <div class="item-card-footer">
            <p class="email">{{item.email}}</p>
        </div>
    </div>
</div>
